.awardContainer {
  display: flex;
}

.awardInfo {
  border: 10px solid #8AC007;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  padding-left: 30px;
  padding-right: 30px;
}

.awardHeld {
  font-size: 40px;
}

.awardWinnerName {
  font-size: 60px;
  font-weight: bold;
}

.awardDescription {
  font-size: 40px;
}