* {
  font-family: verdana;
}

h1 {
  text-align: center;
  font-size: 60px;
}

.trophyImage {
  background-size: 280px 280px;
  background-repeat: no-repeat;
  background-position: center;
  min-width: 300px;
  height: 280px;
  margin-top: 30px;
}

.awardContainer {
  display: flex;
}

.awardInfo {
  border: 10px solid #8AC007;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  padding-left: 30px;
  padding-right: 30px;
  min-width: 600px;
  margin-top: 30px;
}

.awardWinnerPic {
  height: 80px;
  width: 80px;
}

.awardWinnerPic > img {
  height: 100%;
  width: 100%;
}

.awardHeld {
  font-size: 20px;
}

.awardWinnerName {
  font-size: 40px;
  font-weight: bold;
}

.awardDescription {
  font-size: 20px;
}

.awardWinnerValue {
  font-weight: bold;
}

.leaderBoardContainer {
  border: 10px solid #8AC007;
  margin-left: 20px;
  min-width: 497px;
  margin: 30px;
}

.leaderBoard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  padding-left: 30px;
  padding-right: 30px;
  display: table;
}

.tableRow {
  display: table-row;
  font-size: 16px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin: 20px 0;
} 

.colHeader {
  font-size: 20px;
  font-weight: bold;
}

.tableCell {
  display: table-cell;
}

.tableCell:nth-child(1) {
  width: 200px;
}

