<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>
  <% awards.forEach(function(award) { %>
    <div class='awardContainer'>
      <img class='trophyImage' src='<%= award.trophySrc %>'></img>
      <div class='awardInfo'>
        <div class='awardHeld'>The <%= award.name %> Award Currently Held By:</div>
        <div class='awardWinnerName'><%= award.winnerName %></div>
        <div class='awardDescription'><%= award.description %></div>
      </div>
    </div>
  <% }); %>
</body>
</html>
